body {
  background-color: white;
  color:black;
}

header nav ul a {
  color: black;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  padding: 1rem;
  margin-bottom: 6rem;
}

.meet-me {
  text-align: left;
  padding: 1rem;
  max-width: 90ch;
}

.meet-me p {
  font-size: var(--clamp-regular-text);
}

.meet-me h2 {
  color: purple;
  text-shadow: -8px -8px 8px purple, 8px 8px 8px purple;
}

.slider-container {
  max-width: 300px; /* Maximum width */
  width: 100%; /* Allows the slider to use the full width of its parent */
  overflow: hidden;
  position: relative;
  margin: auto; /* Centers the slider */
}


.slider {
  display: flex; /* Enables horizontal scrolling of slides */
  transition: transform 0.5s ease; /* Smooth transitions for sliding effect */
}

.slide {
  min-width: 100%; /* Each slide takes full width of the slider */
  transition: opacity 1s ease; /* Smooth fade effect for slides */
}