body {
  background-color: white;
  padding: 0 50px 50px 50px;
}
/* added a little section for the nav-bar area so the font color is visible and made the about me highlighted */
.nav_bar,
.nav_bar a {
  color: black;
}

.about_me {
  /* position: relative; I am taking this out because it makes no sense here. You only need thi if you are going to 
    position: absolute; in the direct child which would make more sense. I will be commenting it out  */
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-gap: .5rem;
  width: 100%;
  height: 90%;
}

.slider-container {
  width: 90%;
 
  /* height: 400px; */
  overflow-x: hidden;
  scrollbar-gutter: hidden;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
  min-height: 400px;
  min-width: 300px;
  /* took out a lot of stuff not needed here I am working on fixing the image height */
}

.slide {
  width: 100%;
  height: auto;
}

.meet-me {
  display: grid;
  color: black;
  margin-left: 50px;
  align-items: end;
  max-width: 500px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.meet-me h2 {
  color: white;
  font-size: 30px;
  font-style: italic;
  text-shadow: -8px -8px 8px purple, 8px -8px 8px purple, -8px 8px 8px purple,
    8px 8px 8px purple;
  margin: 1rem;
}

.meet-me p {
  font-size: var(--clamp-paragraph-text);
  
}