footer {
  padding: 1rem;
  text-align: center;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.45rem;
}

.contact a {
  font-size: var(--clamp-regular-text);
  color: var(--hover-color);
  border: 1px solid var(--hover-color);
  width: 3rem;
}

.contact a:hover {
  color: #ff69b4; /* Pink hover */
  border-color: #ff69b4;
  transform: scale(1.2); /* Slight zoom-in */
}
