/* Header styles */
header {
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center; 
}

/* Logo styles */
.logo {
  font-size: var(--clamp-h1);
  font-weight: bold;
  margin: 2rem;
}

/* Navigation bar styles */
nav ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

nav ul li {
  padding: 0.5rem 1rem;
}

nav ul li a {
  text-decoration: none;
  color: white; /* Default text color */
  font-size: var(--clamp-regular-text);
  position: relative;
  transition: all 0.3s ease-in-out;
}


nav ul li .active{
  color: var( --hover-color);
}

nav ul li a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background-color: var(--hover-color);
  bottom: -5px;
  left: 0;
  transition: width 0.3s ease-in-out;
}

nav ul li a:hover::after,
nav ul li a.active::after {
  width: 100%;
}

nav ul li a:hover {
  color: var(--hover-color); /* Change the text color to the pink hover color on hover */
}
