body {
  background-color: black;
}

.welcome {
  display: grid;
  grid-template-columns: repeat(auto-fit, 750px);
  align-items: center;
  justify-content: center;
  min-height: 100svh;
  width: 100svw;
  color: white;
}
.welcome .greeting {
  width: 100%;
  text-align: left;
  margin: 1rem;
  line-height: 2.5rem;
}
.welcome .greeting h1 {
  font-size: var(--clamp-h1);
}
.welcome .greeting p {
  width: var(--clamp-paragraph-text);
  font-size: var(--clamp-regular-text);
  text-indent: 0.8rem;
}

.welcome .welcome_image {
  display: flex;
  justify-content: center;
  
}

.welcome .welcome_image img {
  width: clamp(10rem, 15svw, 20rem);
  transform: rotate(8deg);
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
}
.welcome .welcome_image img:hover {
  transform: rotate(0deg);
}

.hire_section button {
  color: purple;
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding-inline: 22px;
  padding-block: 8px;
  cursor: pointer;
  margin-top: 1rem;
  border: none;
}
.intro a {
  color: rgb(237, 105, 237);
}
